.todo-item {
  display: flex;
  border: 1px groove #282828;
  border-radius: 5px;
  background-color: #282828;
  margin: 5px;
  align-items: center;
  padding-left: 10px;
}

.todo-item p {
  padding-left: 10px;
}
