.footer {
    color: whitesmoke;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5%;
}