.todo-item {
    display: flex;
    border: None;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    padding-left: 10px;
  }

  .todo-item #remove {
    position: absolute;
    right: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
  }

  .todo-item #details {
    position: absolute;
    border-radius: 5px;
    right: 50px;
    border: none;
    outline: none;
  }
  
  .todo-item p {
    padding-left: 10px;
  }