.todo-item {
    display: flex;
    background-color: #282828;
    border: 1px groove #282828;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    padding-left: 10px;
  }
  
  .todo-item:hover {
    background-color: #404040;
    animation-name: color-change;
    animation-duration: 0.3s;
  }

  .todo-item button {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    background-color: Transparent;
    outline: none;
    border: none;
    color: whitesmoke;
  }

  .todo-item button:hover {
    background-color: #282828;
  }
  
  @keyframes color-change {
    0%   {background-color: #282828;}
    25%  {background-color: #323232;}
    50%  {background-color: #363636;}
    100% {background-color: #404040;}
  }
  
  .todo-item p {
    padding-left: 10px;
  }